@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
}
.bebas {
  font-family: 'Bebas Neue', sans-serif;
}
.koulen {
  font-family: 'Koulen', sans-serif;
}
.opensans {
  font-family: "Open Sans", sans-serif;
}
.inter {
  font-family: 'Inter', sans-serif;
}
.lato {
  font-family: "Lato", sans-serif;
}
.monserrat {
  font-family: "Montserrat", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.nunito {
  font-family: "Nunito", sans-serif;
}
.playfair {
  font-family: "Playfair Display", serif;
}
.merri {
  font-family: "Merriweather", serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
.main_title_font {
  font-family: 'Bebas Neue', sans-serif;
}
.main_body_font {
  font-family: "Roboto", sans-serif;
}