.xsmall_text {
    font-size:12px;
}
.small_text {
    font-size: 16px;
}
.medsmall_text {
    font-size: 20px;
}
.medium_text {
    font-size: 24px;
}
.large_text {
    font-size: 32px;
}
.xlarge_text {
    font-size:42px;
}
.xxlarge_text {
    font-size: 52px;
}